services:
  web:
    build: .

    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/staticfiles 
    expose:
      - "8000" 
    depends_on:
      - db
    environment:
      - DEBUG=0 
      - SECRET_KEY=your_secret_key_here
      - DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
      - DB_HOST=db
      - DB_NAME=metro_db
      - DB_USER=admin
      - DB_PASSWORD=password
      - EMAIL_USER=${EMAIL_USER} 
      - EMAIL_PASS=${EMAIL_PASS}
      - DEBUG=0
      - SECRET_KEY=any-random-string
      - ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

  nginx:
    image: nginx:1.25-alpine
    restart: always
    ports:
      - "80:80"  
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/staticfiles
    depends_on:
      - web

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=metro_db
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password

volumes:
  postgres_data:
  static_volume:  